.height--48px {
  height: 48px;
}

.height--12em {
  height: 12em;
}

.width--100 {
  width: 100%;
}

.width--12em {
  width: 12em;
}

.width--16em {
  width: 16em;
}

.min-width--320px {
  min-width: 320px;
}
