.font-family--lora {
  font-family: Lora;
}

.font-family--grotters {
  font-family: Grotters;
}

.font-family--cocogoose {
  font-family: Cocogoose;
}

.font-weight--300 {
  font-weight: 300;
}

.font-weight--600 {
  font-weight: 600;
}

.font-weight--700 {
  font-weight: 700;
}

.font-weight--800 {
  font-weight: 800;
}

.font-weight--900 {
  font-weight: 800;
}

.font-size--0-7em {
  font-size: 0.7em;
}

.font-size--0-8em {
  font-size: 0.8em;
}

.font-size--0-9em {
  font-size: 0.9em;
}

.font-size--1em {
  font-size: 1em;
}

.font-size--1-1em {
  font-size: 1.1em;
}

.font-size--1-2em {
  font-size: 1.2em;
}

.font-size--1-3em {
  font-size: 1.3em;
}

.font-size--1-5em {
  font-size: 1.5em;
}

.font-size--1-8em {
  font-size: 1.8em;
}

.font-size--2em {
  font-size: 2em;
}

.font-size--3em {
  font-size: 3em;
}

.line-height--1-5em {
  line-height: 1.5em;
}

.line-height--1-2em {
  line-height: 1.2em;
}

.line-height--1-3em {
  line-height: 1.2em;
}
