.margin--1em {
  margin: 1em;
}

.margin--0-0-3em {
  margin: 0 0.3em;
}

.margin-bottom--1em {
  margin-bottom: 1em;
}

.margin-bottom--2em {
  margin-bottom: 2em;
}

.margin-bottom--0-5em {
  margin-bottom: 0.5em;
}

.margin-left--0-5em {
  margin-left: 0.5em;
}

.margin-right--0-5em {
  margin-right: 0.5em;
}

.margin--0-auto {
  margin: 0 auto;
}

.margin--8em-auto {
  margin: 8em auto;
}

.margin-top--1-5em {
  margin-top: 1.5em;
}

.margin-top--8em {
  margin-top: 8em;
}

.margin-top--4em {
  margin-top: 4em;
}

.margin-top--5em {
  margin-top: 5em;
}
