.container {
  composes: position--absolute from '~styles';
  composes: font-size--1em from '~styles';
  composes: top--0 from '~styles';
  composes: left--0 from '~styles';
  composes: right--0 from '~styles';
  composes: bottom--0 from '~styles';
  composes: padding--1em from '~styles';
  composes: overflow--hidden from '~styles';
  composes: min-width--320px from '~styles';
}

.wrapper {
  composes: position--absolute from '~styles';
  composes: top--50 from '~styles';
  composes: left--50 from '~styles';
  composes: transform--translate-50-50 from '~styles';
  composes: text-align--center from '~styles';
}

.title {
  composes: width--100 from '~styles';
  composes: font-family--cocogoose from '~styles';
  composes: margin-bottom--1em from '~styles';
  composes: min-width--320px from '~styles';
  composes: text-align--center from '~styles';
}

.info {
  composes: font-family--grotters from '~styles';
  composes: text-decoration--none from '~styles';
  composes: font-size--1-5em from '~styles';
  composes: color--black from '~styles';
  composes: text-align--center from '~styles';
  composes: margin-bottom--1em from '~styles';
}
.link {
  composes: font-family--grotters from '~styles';
  composes: text-decoration--none from '~styles';
  composes: font-size--1-5em from '~styles';
  composes: color--violate from '~styles';
  composes: text-align--center from '~styles';
}
