.wrapper {
  margin: 1em;
  margin-bottom: 2em;
}

.link {
  text-align: left;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Lora;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

.description {
  display: block;
  text-align: left;
  text-decoration: none;
  color: gray;
  font-family: Lora;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.info {
  display: block;
  text-align: left;
  text-decoration: none;
  color: black;
  font-family: Lora;
  font-weight: 700;
  font-size: 0.7em;
  line-height: 1.5em;
}
