.wrapper {
  composes: margin--1em from '~styles';
  composes: margin-bottom--2em from '~styles';
}

.link {
  composes: text-align--left from '~styles';
  composes: display--block from '~styles';
  composes: text-decoration--none from '~styles';
  composes: color--black from '~styles';
  composes: font-family--lora from '~styles';
  composes: font-size--1-2em from '~styles';
  composes: font-weight--800 from '~styles';
  composes: line-height--1-2em from '~styles';
  composes: margin-bottom--0-5em from '~styles';
}

.description {
  composes: display--block from '~styles';
  composes: text-align--left from '~styles';
  composes: text-decoration--none from '~styles';
  composes: color--gray from '~styles';
  composes: font-family--lora from '~styles';
  composes: font-weight--700 from '~styles';
  composes: font-size--0-9em from '~styles';
  composes: line-height--1-5em from '~styles';
  composes: margin-bottom--0-5em from '~styles';
}

.info {
  composes: display--block from '~styles';
  composes: text-align--left from '~styles';
  composes: text-decoration--none from '~styles';
  composes: color--black from '~styles';
  composes: font-family--lora from '~styles';
  composes: font-weight--700 from '~styles';
  composes: font-size--0-7em from '~styles';
  composes: line-height--1-5em from '~styles';
}
