@font-face {
	font-family: Grotters;
	font-style: normal;
  font-weight: 200;
  font-display: swap;
	src: url('../../assets/fonts/Grotters.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../assets/fonts/Grotters.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../assets/fonts/Grotters.ttf') format('truetype');
}

@font-face {
	font-family: Cocogoose;
	font-style: normal;
  font-weight: 200;
  font-display: swap;
	src: url('../../assets/fonts/Cocogoose.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../assets/fonts/Cocogoose.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../assets/fonts/Cocogoose.ttf') format('truetype');
}

@font-face {
	font-family: Lora;
	font-style: normal;
  font-weight: 200;
  font-display: swap;
	src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../assets/fonts/Lora-Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../assets/fonts/Lora-Regular.ttf') format('truetype');
}
