@font-face {
	font-family: Grotters;
	font-style: normal;
  font-weight: 200;
  font-display: auto;
	src: url('../../assets/fonts/Grotters.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../assets/fonts/Grotters.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../assets/fonts/Grotters.ttf') format('truetype');
}
