html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
}

::selection {
  background-color: $color--primary;
  color: $color--white;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}

* {
  font-family: "sans-serif";
}

body {
  direction: ltr;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-width: 320px !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
