.header {
  composes: position--absolute from '~styles';
  composes: top--0 from '~styles';
  composes: left--0 from '~styles';
  composes: right--0 from '~styles';
  composes: height--48px from '~styles';
  composes: text-align--left from '~styles';
  composes: padding--1em from '~styles';
  composes: box-shadow--bottom from '~styles';
  composes: z-index--10 from '~styles';
  background-color: white;
}

.wlink {
  composes: margin--0-auto from '~styles';
}

.link {
  composes: text-decoration--none from '~styles';
  composes: color--black from '~styles';
  composes: font-size--0-9em from '~styles';
  composes: font-family--cocogoose from '~styles';
  composes: margin-left--0-5em from '~styles';
  composes: margin-right--0-5em from '~styles';
}
