.container {
  composes: position--absolute from '~styles';
  composes: font-size--1em from '~styles';
  composes: top--0 from '~styles';
  composes: left--0 from '~styles';
  composes: right--0 from '~styles';
  composes: bottom--0 from '~styles';
  composes: padding--1em from '~styles';
  composes: overflow--hidden from '~styles';
  composes: min-width--320px from '~styles';
}

.avatar {
  composes: border-radius--50 from '~styles';
  composes: width--12em from '~styles';
  composes: height--12em from '~styles';
  composes: margin-top--4em from '~styles';
  composes: margin-bottom--2em from '~styles';
  border: 5px solid white;
}

.wrapper {
  composes: position--absolute from '~styles';
  composes: top--50 from '~styles';
  composes: left--50 from '~styles';
  composes: transform--translate-50-50 from '~styles';
  composes: text-align--center from '~styles';
}

.title {
  composes: color--black from '~styles';
  composes: font-size--2em from '~styles';
  composes: font-family--cocogoose from '~styles';
  composes: margin-bottom--0-5em from '~styles';
  background-color: white;
  padding: 8px 0px;
  @media (max-width: 450px) {
    font-size: 1.2em;
  }
}

.role {
  background-color: yellow;
  padding: 8px 0;
  composes: color--black from '~styles';
  composes: font-family--grotters from '~styles';
  @media (max-width: 450px) {
    font-size: 1.5em;
  }
}

.wlink {
  composes: margin-top--5em from '~styles';
}

.link {
  composes: margin--0-0-3em from '~styles';
  composes: text-decoration--none from '~styles';
  composes: color--black from '~styles';
  composes: font-size--0-9em from '~styles';
  composes: font-family--cocogoose from '~styles';
  composes: font-weight--300 from '~styles';
  background-color: white;
  padding: 8px 0px;
  &:hover {
    color: black;
  }
}
