.wrapper {
  margin: 1em;
  margin-bottom: 2em;
}

.title {
  font-family: Lora;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}

.info {
  font-family: Lora;
  font-size: 0.8em;
  color: #8B008B;
  margin-bottom: 2em;
  font-weight: 900;
}

.content {
  text-align: left;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Lora;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 0.25em;
  white-space: normal;
}
