.wrapper {
  margin: 1em;
  margin-bottom: 2em;
}

.title {
  font-family: Lora;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}

.info {
  font-family: Lora;
  font-size: 0.8em;
  color: gray;
  margin-bottom: 2em;
}

.content {
  text-align: left;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Lora;
  font-size: 1.1em;
  font-weight: 800;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}
