.container {
  margin-top: 8em;
  width: 100%;
  margin: 8em auto;
  position: absolute;
  text-align: center;
  padding: 0 20%;
  @media (max-width: 960px) {
    padding: 0 5%;
  }
}

.title {
  font-family: Grotters;
  font-size: 3em;
  margin-bottom: 1em;
}
